:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --sunset: rgba(239, 200, 139, 0.35);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Course Pages Section */
#cooking, #produce, #sautee, #sear, #sidebar {
  background-color: var(--sunset);
  color: black;
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.25s ease-in;
  border-radius: 1.5rem;
  margin-top: .5rem;
  margin-left: 1rem;
  max-width: 90%;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

#cooking:hover, #produce:hover, #sautee:hover, #sear:hover, #sidebar:hover {
  background-color: rgba(239, 200, 139, 0.8);
  text-decoration: underline;
  font-weight: bold;
  font-size: 26px;
  color: black; 
}

.produceLink, .cookingLink, .sauteeLink, .searLink, .sidebarLink {
  font-weight: bold;
  background-color: rgba(239, 200, 139, 0.8) !important;
}

.produceTitle, .cookingTitle, .searTitle, .sauteeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem !important;
  width: 100%;
  height: 100%;
  margin: 0;
  color: black;
}

.sidebarTitleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0; 
  height: 4.9rem;
}

.sidebarTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem !important;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 1.2rem;
  color: black;
}

.produceImage, .searImage, .sauteeImage, .cookingImage {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: .75rem;
  flex-shrink: 0;
}

.sidebarImage {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: .75rem;
  flex-shrink: 0;
}

.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger {
  width: 30px;
  height: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #333;  /* Set the color for the lines */
  transition: transform 0.2s ease, opacity 0.3s ease;
}

.hamburger.toggled .line-1 {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.toggled .line-2 {
  opacity: 0;
}

.hamburger.toggled .line-3 {
  transform: translateY(-9px) rotate(-45deg);
}

/* Hero Section */
.hero-section {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1514986888952-8cd320577b68?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: background-size 1s ease-in-out, opacity 1s ease-in-out;
}

.hero-section.active {
  background-size: 110%;
  opacity: 1;
}

.hero-section.inactive {
  background-size: 100%;
  opacity: 0;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1s ease;
  height: 100%;
  width: 100%;
}

.carousel-item.active {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.carousel-item-next, .carousel-item-prev {
  transform: translateX(100%);
  opacity: 0;
}

.carousel-item-next.active, .carousel-item-prev.active {
  transform: translateX(0);
  opacity: 1;
}

.carousel-item:not(.active) {
  opacity: 0;
  transform: translateX(-100%);
}

.carousel-item img {
  transition: transform 1s ease-in-out;
}

.carousel-item.no-image .container {
  justify-content: center;
}

.carousel-item > .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.carousel-item .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;
  flex-shrink: 0; 
  transition: transform 5s ease-in-out;
}

.carousel-item .col-md-6 h1 {
  margin-bottom: 30px;
  font-size: 3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
  transition: font-size 5s ease-in-out;
}

.carousel-item .col-md-6 ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  overflow: visible;
  white-space: normal;
  flex-grow: 1;
  flex-basis: 0;
  max-height: 80%; 
  font-size: 2vw;
  transition: font-size 5s ease-in-out;
}

.carousel-item .col-md-6 li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.carousel-item .col-md-6 p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.carousel-item.no-image .col-md-6 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .carousel-item .col-md-6 h1 {
    font-size: 2.5rem; 
  }
}

@media (max-width: 992px) {
  .carousel-item .col-md-6 h1 {
    font-size: 2rem; 
  }
}

@media (max-width: 768px) {
  .carousel-item .col-md-6 h1 {
    font-size: 1.5rem; 
  }
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%; 
  padding-left: 20px;
  box-sizing: border-box;
  flex-shrink: 1;
  transition: font-size 5s ease-in-out; 
}

.hero-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  flex-shrink: 1;
  transition: font-size 5s ease-in-out;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Sidebar Css */
#wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 15rem;
  transition: margin 0.3s ease-out;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  flex: 1;
  margin-left: 15rem;
  width: calc(100% - 15rem);
  transition: margin-left 0.3s ease-out;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: -15rem;
}

body.sb-sidenav-toggled #page-content-wrapper {
  margin-left: 0;
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    width: 100%;
    margin-left: 0;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    margin-left: 0;
  }
}

.navbarContainer {
  height: 4.3rem !important;
  width: 100%;
}

.navbarTitleContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
}

.navbarTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 1.2rem;
  color: black;
}

.navbarTitleLink {
  color: inherit !important;
  text-decoration: none !important;
}

/* Contact Section */
#contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

#contact h2 {
  text-align: left;
  margin-bottom: 1.5rem;
}

#contact .col-md-7 {
  padding-right: 50px;
  flex: 2; 
}

#contact .contact-title {
  font-size: 2.5rem !important;
}

#contact .row {
  display: flex;
  align-items: center;
}

#contact .col-lg-5 {
  flex: 1;
  padding: 1rem;
}

#contact .form-group {
  margin-bottom: 1rem;
}

#contact .form-group input,
#contact .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

#contact button {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  width: auto;
}

#contact label {
  padding-bottom: 5px;
}

#contact .col-md-5 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#contact .contact-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #contact .row {
    flex-direction: column;
  }

  #contact .col-lg-5,
  #contact .col-lg-7 {
    width: 100%;
  }
}

/* Home Navbar */
.homeNavbarContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.homeNavbarContainer .navbar-brand {
  padding-left: 1rem; 
}

.homeNavbarContainer .navbar-nav {
  padding-right: 2rem; 
}

.homeNavbarContainer .navbar-toggler {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .homeNavbarContainer {
    padding-left: 1rem; 
    padding-right: 1rem;
  }
}